.board-table {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.board-table td {
    border: 1px solid black;
    padding: 0;
    width: 19px;
    height: 19px; 
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
}

.board-table .cell-type-empty {
    background-image: url("../Images/MiddleCell.png");
}

.board-table .cell-type-black {
    background-image: url("../Images/BlackCell.png");
}

.board-table .cell-type-white {
    background-image: url("../Images/WhiteCell.png");
}