<table class="board-table">
    <tbody data-bind="foreach: { data: Board, as: 'row'}">
        <tr data-bind="foreach: row">
            <td data-bind="text: $data, css: $root.GetClassForCell(row.$index, $index)"></td>
        </tr>
    </tbody>
</table>