@model MvcApp.Models.BoardModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
              @Model.GetHtml()
        </div>
    </body>
</html>