@model MvcApp.Models.TestModel

@{
    Layout = null;
}

<!DOCTYPE html>

<script src="Scripts/jquery-2.0.3.min.js"></script>
<script src="Scripts/jquery-ui-2.0.3.min.js"></script>

<html>
    <head>
        <title>UserTest Infromation</title>
    </head>
    <body>
        <div>
              UserID is @Model.UserID
        </div>
    </body>
</html>