@model MvcApp.Models.TestModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>UserTest Infromation</title>
    </head>
    <body>
        <div>
              UserID is @Model.UserID
        </div>
    </body>
</html>