
@using System.Web.Optimization
@model MvcApp.Models.BoardModel

@{
    Layout = null;
}

<!DOCTYPE html>

    <script type="text/javascript" src="~/Scripts/jquery-2.0.3.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.10.3.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout-3.0.0.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout.mapping-latest.js"></script>
    <script type="text/javascript" src="~/Scripts/Custom/Test_game.js"></script>

    <link rel="stylesheet" type="text/css" href="~/Content/themes/base/jquery.ui.core.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/base/jquery.ui.resizable.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/base/jquery.ui.selectable.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/base/jquery.ui.accordion.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/base/jquery.ui.autocomplete.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/base/jquery.ui.button.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/base/jquery.ui.dialog.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/base/jquery.ui.slider.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/base/jquery.ui.tabs.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/base/jquery.ui.datepicker.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/base/jquery.ui.progressbar.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/base/jquery.ui.theme.css" />

    <link rel="stylesheet" type="text/css" href="~/Content/Css/BoardPage.css" />

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
            <table class="board-table">
                <thead>
                    <tr>
                        <td>
                            <p>One id: <input data-bind="value: PlayerOneId" /></p>
                            <p>Two id: <input data-bind="value: PlayerTwoId" /></p>
                            <p>Active id: <input data-bind="value: ActiveUserId" /></p>
                        </td>
                        <td>
                            <p>One: <input data-bind="value: PlayerOneId" /></p>
                            <p>Two: <input data-bind="value: PlayerTwoId" /></p>
                            <p>Active: <input data-bind="value: ActiveUserId" /></p>
                            <p>Cell: <input data-bind="value: ActiveCellType"/></p>
                        </td>
                        <td>
                            <input type="button" data-bind="click: SaveGame" value="Save" />
                            <input type="button" data-bind="click: LoadGame" value="Load" />
                        </td>
                        <td>
                            
                            
                            <input type="text" id="rowIndex"/>
                            <input type="text" id="columnIndex"/>
                            <input type="button" data-bind="click: SendTurn" value="Turn" />
                            
                            <input type="text" data-bind="value: GameId"/>
                            <input type="button" data-bind="click: OpenGame" value="OpenGame" />
                            <input type="button" data-bind="click: CloseGame" value="CloseGame" />
                            <input type="button" data-bind="click: GetGame" value="GetGame" />
                            
                        </td>
                    </tr>
                </thead>
            </table>
            

            @Html.Partial("_Board")
        </div>
    </body>
</html>