@model MvcApp.Models.User.SignInModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
           @using (Html.BeginForm("SignIn", "Account", FormMethod.Post))
            {
                <div>
                    @Html.ValidationSummary(true)
                    @Html.AntiForgeryToken()
                </div>
                <div>
                    @Html.TextBoxFor(m => m.Login)
                    @Html.TextBoxFor(m => m.Password)
                    <span>
                        <input type="submit" value="Login" />
                    </span>
                </div>
                <div id="test-res">
                </div>
            }   
        </div>
    </body>
</html>